@model CLSF_Compare.Models.ConversionCalculationModel

<div id="result">
    @if (Model != null)
    {
        <h2>Calculation Results</h2>
        <p>BankConvertedAmount: @Model.BankConvertedAmount</p>
        <p>ClearShiftConvertedAmount: @Model.ClearShiftConvertedAmount</p>
        <p>Savings: @Model.Savings</p>
    }
</div>