@model CLSF_Compare.Models.InputModel
<link rel="stylesheet" href="~/Content/ManualInput.css" asp-append-version="true" />
<link rel="stylesheet" href="~/Content/variable.css" asp-append-version="true" />
<form method="post" asp-action="Calculate" class="manual-input-form">
    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="Date">Date:</label>
        <input type="date" asp-for="Date" id="Date" class="manual-input-form__input" required />
    </div>

    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="SourceCurrency">Source Currency:</label>
        <select asp-for="SourceCurrency" asp-items="@(new SelectList(CLSF_Compare.Models.CurrencyConstants.AllowedCurrencies))" id="SourceCurrency" class="manual-input-form__select">
            <option value=""></option>
        </select>
    </div>

    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="TargetCurrency">Target Currency:</label>
        <select asp-for="TargetCurrency" asp-items="@(new SelectList(CLSF_Compare.Models.CurrencyConstants.AllowedCurrencies))" id="TargetCurrency" class="manual-input-form__select">
            <option value=""></option>
        </select>
    </div>

    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="Amount">Amount:</label>
        <input type="number" asp-for="Amount" id="Amount" class="manual-input-form__input" required />
    </div>

    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="BankRate">Bank Rate:</label>
        <input type="number" asp-for="BankRate" id="BankRate" class="manual-input-form__input" required step="0.0001" />
    </div>

    <div class="manual-input-form__row">
        <label class="manual-input-form__label" for="BankFees">Bank Fees:</label>
        <input type="number" asp-for="BankFees" id="BankFees" class="manual-input-form__input" step="0.01" />
    </div>

    <button type="submit" class="manual-input-form__button">Calculate</button>
</form>
